/* Common definitions */
* {box-sizing: border-box;} /* must have this code */
.col-3 {width: 25%;}
.col-9 {width: 75%;}

.container{
    display: grid; /* Tell to browser what kind of layout we use - Grid */
    width: 90%;
    margin: auto;
}

.header{height: 50px;background-color: #990033;}
.navigation{height: 30px;background-color: #4caf50;}

/* We must have this code for <main-content> display right and other elements have the right positions */
.main-content::after {
    content: "";
    clear: both;
    display: grid; /* Using grid for main content */
}
main, aside{float: left;height: 30vh;}
main{background-color: #ba89b6;}
aside{background-color: darkcyan;}

.footer{height: 50px;background-color: #f15b2a;}

/* Redefine container */
@media screen and (max-width: 375px){
    .container, .main-content{display: grid;}    /* Redefine layout's kind in new screen size - Using grid*/
    [class*="col-"] {width: 100%;}

    /* Change order between <main> and <aside> */
    main{order: 2;}
    aside{order: 1;}
}